@import "./general.css";

nav {
    font-family: var(--primary-font);
    background-color: black;
    color: white;
}

#navContainer {
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding: 5px 55px;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-evenly;
    width: 85%;
}

.links>a {
    text-decoration: none;
    color: white;
    padding: 0.3em 0.6em;
    transition: all 0.25s ease-in;
}

.links>a:hover {
    background-color: rgb(240, 112, 21);
}